/* footer.css - Minimalist Brutalist */
footer {
    text-align: center;
    padding: 30px 0;
    background: #fff;
    color: #000;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #000;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

footer a {
    color: #000;
    text-decoration: underline;
}

footer a:hover {
    color: #000;
    background: #000;
    color: #fff;
    text-decoration: none;
}

.sarcasm {
    font-size: 0.8em;
    margin-top: 5px;
    opacity: 0.7;
    font-style: italic;
    text-transform: none;
}